.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 3rem;
  text-align: center;
  margin-top: 16px;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}
